---
import Default from "../layouts/Default.astro";
import Filter from "../components/Filter.svelte";
import type Service from "../interfaces/Service";
import Services from "../components/Services.astro";

const getPorfolio = async (): Promise<Service[]> => {
  try {
    const services = await import('../data/portfolio.json');
    return services.default;
  } catch {
    return [];
  }
}

const portfolio = await getPorfolio();

---

<Default title="Portfolio" description="My personal projects">
  <p class="title" slot="header">Portfolio</p>
  <div class="content">
    <p>This is a list with all the projects that I've done throughout the years</p>
  </div>
  <div class="container">
    <Filter client:only="svelte" />
  </div>
  <Services services={portfolio} />
</Default>
