---
import Default from "../layouts/Default.astro";
import Filter from "../components/Filter";
import type Service from "../interfaces/Service";
import Services from "../components/Services.astro";

const getServices = async (): Promise<Service[]> => {
  try {
    const services = await import('../data/services.json');
    return services.default;
  } catch {
    return [];
  }
}

const services = await getServices();

---

<Default title="Services" description="List of services that I'm hosting">
  <p class="title" slot="header">Services</p>
  <div class="content">
    <p>This is a list with all the public instances that I host on this server</p>
  </div>
  <div class="container">
    <Filter client:only="solid-js" />
  </div>
  <Services services={services} />
</Default>
