---
import pkg from "../../package.json";
---

<p>Version {pkg.version} with {Astro.generator}</p>
<p>Made with <span style="color: #e25555;">&#9829;</span> in
  <a href="https://github.com/pablouser1/PersonalHub" target="_blank" rel="nofollow">Github</a>
</p>
