---
import { LANGS } from "../common"
import Language from "../helpers/Language"
---

<aside class="menu">
  <p class="menu-label">CV</p>
  <ul class="menu-list">
    {LANGS.map(lang => {
      return (
        <li>
          <a href={`/resume/${lang}`}>
            <span class="icon-text">
              <span class="icon" style="font-size: 24px;">
                {Language.flag(lang)}
              </span>
              <span>{Language.name(lang)}</span>
            </span>
          </a>
        </li>
      )
    })}
  </ul>
</aside>
