---
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.svelte";
import Sections from "../helpers/Sections";
import Footer from "../components/Footer.astro";
import type Props from "../interfaces/DefaultProps";

const { title, description } = Astro.props;

const { NAME } = import.meta.env;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} name={NAME} />
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <slot name="header" />
        </div>
      </div>
      <div class="hero-foot">
        <Navbar client:idle sections={Sections} />
      </div>
    </section>
    <section class="section">
      <slot />
    </section>
    <Footer />
  </body>
</html>
